.hotel-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.hotel-wrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap:10px;
    position: relative;

}
.hotel-wrapper>button{
    position: absolute;
    top: 10px;
    right: 0;
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;

}
.hotel-title{
    font-size: 24px;
}
.hotel-address{
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.hotel-distance{
    color: #0071c2;
    font-weight: 500;
}
.hotel-price-high{
    color: #008009;
    font-weight: 500;
}
.hotel-imgs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.hotel-img{
    width: 100%;
    object-fit: cover;

}
.hotel-img-wrapper{
    width: 33%;
}

/*Slider*/
.slider-div{
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.426);

    z-index: 111;
    display: flex;
    align-items: center;
}
.slider-wrapper{
    width: 100%;
    /*max-width: 1024px;*/
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-img{
    width: 80%;
    height: 80vh;
}
.slider-close{
    position: absolute;
    top: 20px;
    right: 20px;
    color: lightgray;
    font-size: 30px;
    cursor: pointer;
}
.slider-arrow{
    margin: 20px;
    font-size: 50px;
    color: lightgray;
    cursor: pointer;
}


.hotel-details{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}
.hotel-detail-text{
    flex: 3;
}
.hotel-detail-title{

}
.hotel-desc{
    font-size: 14px;
    margin-top: 20px;
}
.hotel-detail-price{
    flex: 1;
    background-color: #ebf3ff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hotel-detail-price>h1{
    font-size: 18px;
    color:#555;
}
.hotel-detail-price>span{
    font-size: 14px;
}
.hotel-detail-price>h2{
        font-weight: 300;
}
.hotel-detail-price>button{
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}








